In [2]:
# Курбанов Ринат Фирдусович

# ГРУППА

1. Импортировать необходимые библиотеки для работы с данными (pandas). --- **0.1**

In [3]:
import pandas as pd

2. Импортировать датасет из файла 'restaurants.csv' и присвоить его переменной (например, переменной df). --- **0.1**

In [4]:
df = pd.read_csv('restaurants.csv', sep = ',')

3. Вывести первые 10 строк датафрейма. Изучить структуру таблицы. --- **0.1** Затем вывести типы колонок датафрейма. --- **0.1**

In [5]:
df.head(10)

,vendor_id,chain_id,city_name,specialisation,successful_orders,fail_orders,reorders
0,28957,20633,Архангельск,Супы,0.0,2.0,0.0
1,37381,27399,Архангельск,Пироги,0.0,0.0,0.0
2,28703,20431,Архангельск,Суши,111.0,3.0,0.0
3,37382,27399,Архангельск,Пироги,1.0,0.0,0.0
4,36877,27151,Архангельск,Бургеры,22.0,2.0,0.0
5,37650,27579,Архангельск,Суши,3.0,0.0,0.0
6,37127,27250,Астрахань,Суши,55.0,5.0,6.0
7,28476,20266,Астрахань,Суши,342.0,13.0,14.0
8,28478,20266,Астрахань,Суши,194.0,1.0,7.0
9,34127,25077,Астрахань,Пицца,136.0,4.0,1.0

vendor_id - уникальный идентификатор ресторана

chain_id - уникальный идентификатор сети, в которую входит ресторан

successful_orders - кол-во успешных заказов

fail_orders - кол-во неуспешных заказов

reorders - перезаказы

In [6]:
df.columns

Index(['vendor_id', 'chain_id', 'city_name', 'specialisation',
       'successful_orders', 'fail_orders', 'reorders'],
      dtype='object')

4. Сколько наблюдений в датафрейме (воспользоваться методом shape)? --- **0.1**

In [7]:
df.shape

(784, 7)

5. Сколько колонок в датафрейме?  --- **0.1** Вывести их имена. --- **0.1** Удалить колонку с названием "chain_id" (соледующие задания должны быть выполнены без этой колонки). --- **0.2**

In [8]:
len(df.columns)

7

In [9]:
list(df.columns.values)

['vendor_id',
 'chain_id',
 'city_name',
 'specialisation',
 'successful_orders',
 'fail_orders',
 'reorders']

In [10]:
del df['chain_id']

6. Сколько уникальных городов в датафрейме? --- **0.4**

In [11]:
len(df.loc[:, 'city_name'].value_counts())

63

7. Кол-во ресторанов каждой специализации? --- **0.3**

In [57]:
df.loc[:, 'specialisation'].value_counts()

Суши                   329
Пицца                  179
Бургеры                 69
Шашлыки                 37
Рыба                    30
Японская                21
Пироги                  17
Русская                 15
Мясо                    14
Китайская               10
Супы                     8
Шаурма                   8
Сэндвичи                 6
Грузинская               5
Десерты                  5
Выпечка                  5
Индийская                5
Фастфуд                  4
Паста и ризотто          4
Итальянская              3
Паназиатская             2
Узбекская                2
Хот-доги                 2
Корейская                1
Вегетарианское меню      1
Гирос                    1
Мексиканская             1
Name: specialisation, dtype: int64

8. Получить среднее и стандартное отклонение по всему датафрейму только по колонкам successful_orders и fail_orders. --- **0.7**

In [13]:
import numpy as np
sd1=[]
sd2=[]
sd1.append(list(df['successful_orders']))
sd2.append(list(df['fail_orders']))
print("std of successful_order", np.std(sd1))
print("mean of successful_orders", np.mean(sd1))
print("std of fail_order", np.std(sd2))
print("mean of fail_orders", np.mean(sd2))

std of successful_order 176.67983487125903
mean of successful_orders 115.34438775510205
std of fail_order 5.358024708759296
mean of fail_orders 2.576530612244898

9. Вывести 10 городов с самым маленьким количеством ресторанов, а также кол-во ресторанов в них. --- **0.5**

In [14]:
(df.loc[:, 'city_name'].value_counts()).tail(10)

Череповец         9
Магнитогорск      8
Петрозаводск      7
Архангельск       6
Новокузнецк       5
Стерлитамак       3
Егорьевск         3
Йошкар-Ола        3
Вологда           3
Ханты-Мансийск    2
Name: city_name, dtype: int64

10. Вывести весь датафрейм только по тем ресторанам, у которых количество неуспешных заказов (fail_orders) было больше 20. --- **0.4**

In [15]:
df[df.fail_orders>20].sort_values(by=['fail_orders'], ascending=[False])

,vendor_id,city_name,specialisation,successful_orders,fail_orders,reorders
267,6520,Краснодар,Суши,1300.0,70.0,65.0
511,20935,Самара,Пицца,1298.0,63.0,44.0
145,33976,Екатеринбург,Суши,327.0,46.0,65.0
656,25369,Тула,Пицца,205.0,38.0,18.0
420,24126,Орел,Пицца,482.0,33.0,27.0
516,12235,Самара,Суши,779.0,32.0,51.0
372,22211,Нижний Новгород,Суши,79.0,29.0,20.0
543,5469,Саратов,Суши,617.0,28.0,26.0
422,16157,Орел,Бургеры,506.0,25.0,31.0
95,24121,Волгоград,Пицца,445.0,24.0,25.0

11. Вывести весь датафрейм только по тем ресторанам, у которых количество неуспешных заказов (fail_orders) было больше 20 и успешных заказов (successful_orders) меньше 500, рестораны только из города Тула. --- **0.5**

In [21]:
df[(df.fail_orders>20) & (df.successful_orders<500) & (df.city_name=='Тула')]

,vendor_id,city_name,specialisation,successful_orders,fail_orders,reorders
656,25369,Тула,Пицца,205.0,38.0,18.0

12. Среднее кол-во успешных заказов по специализациям. --- **0.6**

In [61]:
for i in df.specialisation.unique():
    print(i, '  ', df[df['specialisation']==i]['successful_orders'].mean())

Супы    140.75
Пироги    28.11764705882353
Суши    134.68085106382978
Бургеры    70.47826086956522
Пицца    144.44692737430168
Шашлыки    55.5945945945946
Выпечка    12.8
Японская    171.52380952380952
Русская    81.13333333333334
Шаурма    23.0
Десерты    8.2
Грузинская    38.2
Рыба    95.76666666666667
Паназиатская    19.5
Корейская    9.0
Китайская    89.1
Итальянская    44.666666666666664
Хот-доги    4.5
Мясо    49.42857142857143
Паста и ризотто    39.75
Мексиканская    33.0
Узбекская    15.5
Гирос    682.0
Индийская    15.2
Сэндвичи    118.66666666666667
Фастфуд    22.25
Вегетарианское меню    12.0

13. Рестораны какой специализации имеют самую высокую долю неуспешных заказов? Также посчитать эту долю (все заказы по конкретному ресторану складываются из успешных, неуспешных заказов и перезаказов). --- **1.0**

In [104]:
a=[]
for i in df.specialisation.unique():
    a.append(((np.sum((df[df['specialisation']==i]).fail_orders)/(np.sum((df[df['specialisation']==i]).fail_orders)+np.sum((df[df['specialisation']==i]).successful_orders)+np.sum((df[df['specialisation']==i]).reorders))),i))
a=sorted(a, key=lambda s: s[0])
a.reverse()
for i in a:
    print(i[1], i[0])

Вегетарианское меню 0.30434782608695654
Хот-доги 0.1875
Десерты 0.12
Корейская 0.1
Индийская 0.09302325581395349
Выпечка 0.057971014492753624
Паназиатская 0.046511627906976744
Мексиканская 0.029411764705882353
Бургеры 0.028782574873590042
Узбекская 0.02857142857142857
Пироги 0.026052104208416832
Грузинская 0.025380710659898477
Паста и ризотто 0.024242424242424242
Мясо 0.0221606648199446
Суши 0.022029574541681078
Пицца 0.021831953365759476
Шашлыки 0.020389249304911955
Сэндвичи 0.02032520325203252
Супы 0.019827586206896553
Китайская 0.01956521739130435
Шаурма 0.015463917525773196
Гирос 0.012968299711815562
Японская 0.011422355180853957
Рыба 0.009884117246080437
Русская 0.008064516129032258
Итальянская 0.007407407407407408
Фастфуд 0.0

14. Для каждой специализации рассчитать минимальное и максимальное кол-во успешных заказов. --- **0.7**

In [114]:
a=[]
for i in df.specialisation.unique():
    a.append((np.min((df[df['specialisation']==i]).successful_orders),np.max((df[df['specialisation']==i]).successful_orders),i))
print("специализация  max  min")
for i in a:
    print(i[2],'   ', i[1], '  ',i[0])

специализация  max  min
Супы       480.0    0.0
Пироги       185.0    0.0
Суши       1401.0    0.0
Бургеры       506.0    0.0
Пицца       1644.0    0.0
Шашлыки       323.0    0.0
Выпечка       24.0    3.0
Японская       461.0    4.0
Русская       919.0    0.0
Шаурма       93.0    0.0
Десерты       22.0    0.0
Грузинская       131.0    3.0
Рыба       315.0    0.0
Паназиатская       38.0    1.0
Корейская       9.0    9.0
Китайская       355.0    6.0
Итальянская       112.0    3.0
Хот-доги       5.0    4.0
Мясо       179.0    1.0
Паста и ризотто       66.0    11.0
Мексиканская       33.0    33.0
Узбекская       25.0    6.0
Гирос       682.0    682.0
Индийская       75.0    0.0
Сэндвичи       241.0    0.0
Фастфуд       66.0    2.0
Вегетарианское меню       12.0    12.0

15. Рассчитать среднее кол-во успешных заказов по каждой специализации в городах Белгород и Уфа. --- **0.9**

In [147]:
print('Белгород')
fb=df[df['city_name']=='Белгород']
for i in df.specialisation.unique():
    if((fb[fb['specialisation']==i].successful_orders).mean()>=0):
        print(i, (fb[fb['specialisation']==i].successful_orders).mean())
print('Уфа')
fb=df[df['city_name']=='Уфа']
for i in df.specialisation.unique():
    if((fb[fb['specialisation']==i].successful_orders).mean()>=0):
        print(i, (fb[fb['specialisation']==i].successful_orders).mean())

Белгород
Пироги 14.0
Суши 328.0
Пицца 36.0
Шашлыки 227.0
Японская 183.0
Русская 158.0
Шаурма 0.0
Уфа
Пироги 22.0
Суши 144.33333333333334
Бургеры 105.0
Пицца 392.14285714285717
Шашлыки 7.0
Мясо 2.0

16. Импортировать таблицу "restaurant_scores.csv". В исходную таблицу добавить новый столбец "model_score" из таблицы "restaurant_scores", соединив таблицы по restaurant_scores.vendor_id = model_score.id. Вывести первые 5 строк получившейся таблицы. --- **0.8**

In [172]:
dl=pd.read_csv('restaurant_scores.csv', sep = ',')
dl = dl.rename(columns={'id': 'vendor_id'})
df=pd.merge(df, dl, on='vendor_id')
df.head(5)

,vendor_id,city_name,specialisation,successful_orders,fail_orders,reorders,model_score
0,28957,Архангельск,Супы,0.0,2.0,0.0,0.421871
1,37381,Архангельск,Пироги,0.0,0.0,0.0,0.386503
2,28703,Архангельск,Суши,111.0,3.0,0.0,0.664808
3,37382,Архангельск,Пироги,1.0,0.0,0.0,0.838883
4,36877,Архангельск,Бургеры,22.0,2.0,0.0,0.176469

18. Итоговую таблицу сохранить на жестком диске в формате 'csv'. --- **0.3**

In [175]:
df.to_csv("new_restaurants.csv")

### Каждые 1.5 поинта - 1 балл.